<h1>Hello world</h1>
<div class="container">
  {{#each people}}
  <div class="people-list">
    {{user_name}}<a href="/people/{{id}}/edit"><img class="img-circle" src="" alt="{{name}}">{{user_name}}</a>
  </div>
  {{/each}}
</div>