body h1 p a {
    background-size: cover;
    font-family: 'Raleway', cursive;
  }
  
.container {
  justify-content: center;
  padding: 10px;
}


.app {
  display: flex;
  flex-direction: column;
}

.people {
  align-items: center;
  justify-content: center;
  padding:20px;
}

.people-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:10px;

  
}


.name {
  text-align: center;
  font-size: .8em;
  font-weight: bold;  
  text-decoration: none;
  color: rgb(0, 0, 0);
  display:block;

  transition:all 0.8s ease-in-out;    
  -webkit-transition: all  0.5s,
}


.people-list:hover .new{
  display:block;
}

.img-circle {
  align-items: center;
  justify-content: center;
  margin:auto;
  opacity:0.8;
  border-radius: 50%;
  object-fit: cover;
  width:50px;
  height:50px;

  transition:all 0.8s ease-in-out;    
  -webkit-transition: all  0.5s,
}

.person{
  transition:all 0.8s ease-in-out;    
  -webkit-transition: all  0.5s,
}

.person:hover {
  transform:scale(2);
  transition:all 0.8s;    
  -webkit-transition: all  0.5s,
}

.person .name:hover{
  text-decoration:underline;
  font-style:italic;
  color: rgb(0, 153, 255)
}

.new{
  top:-20px;
  position:relative;
  display:none;
  text-decoration: none;
  color: black;
}

.title {
  font-weight: bold;
  text-align: center;
  color: black;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
} 

.modal element.style {
  width: 600px;
  height:800px;
}